<section
  class="text-white dark:text-[#676767] bg-black dark:bg-white h-screen w-screen"
>
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full justify-center">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
          >
            <img
              class="w-6 h-6"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/1200px-Git_icon.svg.png"
            />
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm mb-1 tracking-wider">
              GIT
            </h2>
            <p class="leading-relaxed">
              My application is fully version-controlled using Git and hosted on
              GitHub. It adheres to Git standards, including proper branching,
              commit message conventions, and regular updates to ensure a clean
              and maintainable codebase.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
          >
            <img
              class="w-6 h-6 rounded-full"
              src="https://yt3.googleusercontent.com/y4J_Fs5ksRlxx6_LzT1VKxVqH_T8Vyn_RN_YYgLJhuMzBS5qxTgm7NlEcMkQd3hgCpfWtYcEUg=s900-c-k-c0x00ffffff-no-rj"
            />
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm mb-1 tracking-wider">
              ANGULAR
            </h2>
            <p class="leading-relaxed">
              I have worked on a project using Angular, where I utilized its
              robust framework to build a dynamic and responsive web
              application. The project involved implementing key features such
              as component-based architecture, data binding, routing, and state
              management, ensuring a seamless user experience.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
          >
            <img
              class="w-6 h-6 rounded-full"
              src="https://www.docker.com/wp-content/uploads/2023/05/symbol_blue-docker-logo.png"
            />
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm mb-1 tracking-wider">
              DOCKER
            </h2>
            <p class="leading-relaxed">
              The project is fully containerized using Docker, ensuring
              compatibility and seamless deployment across all operating
              systems. Docker was used to create images and containers, enabling
              consistent environments for development, testing, and production.
              This approach guarantees the application’s scalability,
              portability, and ease of use on any platform.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
          >
            <img
              class="w-7 h-7 rounded-full"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSDKn3vA2YUbXzN0ZC3gALWJ08gJN-Drl15w&s"
            />
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm mb-1 tracking-wider">
              TAILWIND CSS
            </h2>
            <p class="leading-relaxed">
              I used Tailwind CSS in the project to design a modern and
              responsive user interface. Its utility-first approach allowed for
              rapid development and customization of styles directly in the
              markup, ensuring a clean and efficient workflow. Tailwind CSS
              helped achieve a consistent design system while maintaining
              flexibility for unique UI components.
            </p>
          </div>
        </div>
        <div class="flex relative">
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm mb-1 tracking-wider">
              FINISH
            </h2>
            <p class="leading-relaxed">
              The project is complete, fully functional, and ready for
              deployment. It showcases modern technologies and delivers a
              seamless user experience.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center h-screen">
        <img
          class="object-cover object-center rounded-lg mx-32"
          src="https://avatars.githubusercontent.com/u/73004912?v=4"
          alt="step"
        />
      </div>
    </div>
  </div>
</section>
