<div class="w-screen h-screen bg-black">
  <div class="flex items-center w-full px-16">
    <!-- Left section: Icon and Trending text -->
    <div class="flex items-center text-white space-x-2">
      <mat-icon color="#ffffff" class="text-yellow-500">
        <span class="material-symbols-outlined">local_fire_department</span>
      </mat-icon>
      <h1>Trending</h1>
    </div>

    <!-- Center line -->
    <div class="flex-grow mx-4">
      <hr class="border-t-[1px] border-gray-800" />
    </div>

    <!-- Right section: See More text -->
    <div class="text-white">
      <h1>See More</h1>
    </div>
  </div>
  <!-- Trending cards -->
  <div class="px-28 mt-[-35px] grid grid-cols-6">
    <app-reusable-card
      *ngFor="let card of cardData"
      [cardData]="card"
    ></app-reusable-card>
  </div>
  <h1>Mateo Osmic</h1>
</div>
